<!doctype html>
<html lang="en" ng-app="soc-student">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Student Checklist</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-motion/0.4.4/angular-motion.min.css">
        <link rel="stylesheet" href="imports/bower/lessfonts-open-sans/css/open-sans.min.css">
        <link rel="stylesheet" href="imports/bower/angular-components/lu-gallery/styles/lu-gallery.min.css">
        <link rel="stylesheet" href="styles/main.d9abd3a42a93927a.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/angular-strap.tpl.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/modules/date-parser.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.8/modules/parse-options.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.8.0/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngInfiniteScroll/1.2.1/ng-infinite-scroll.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-relative-date/1.0.0/angular-relative-date.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flexibility/2.0.1/flexibility.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-analytics/1.1.9/angular-google-analytics.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-aria.min.js"></script>
        <script src="imports/bower/lu-auth/scripts/lu-auth.min.js"></script>
        <script src="imports/bower/angular-components/lu-date/scripts/lu-date.min.js"></script>
        <script src="imports/bower/angular-components/lu-reverse/scripts/lu-reverse.min.js"></script>
        <script src="imports/bower/angular-components/nl2br/scripts/nl2br.min.js"></script>
        <script src="imports/bower/angular-components/liberty-ui/scripts/toggle.min.js"></script>
        <script src="imports/bower/angular-components/bool-model/scripts/bool-model.min.js"></script>
        <script src="imports/bower/angular-components/friendly-date/scripts/friendly-date.min.js"></script>
        <script src="imports/bower/angular-components/lu-gallery/scripts/lu-gallery.min.js"></script>
        <script src="imports/bower/angular-lusvg/lu-svg.min.js"></script>
        <script src="environment.js"></script>
        <script src="scripts/main.af2ad67259a1ae69.js"></script>
        <script src="scripts/templates.99662e69414d4801.js"></script>
    </head>
    <body role="document">
        <div ng-show="AUTHENTICATED">
            <div id="switch-user-warning-bar" ng-if="PREVIOUS_ADMINISTRATOR">
                <span>
                    You are currently impersonating {{USER.printName}}. The data on this page will reflect theirs,
                    but you are still logged in as yourself and any links out to other Liberty pages will load
                    YOUR data.
                </span>
            </div>
            <header ng-include="&apos;partials/header.html&apos;"></header>
            <div id="main-content" ui-view="" role="main"></div>
            <div ng-include="&apos;styles/svg/svgdefs.svg&apos;"></div>
            <footer ng-include="&apos;partials/footer.html&apos;"></footer>
        </div>
    </body>
</html>
