/* Container */
toggle-sm {
  display: inline-block;
  vertical-align: baseline;
}
/* Toggle button */
toggle-sm .toggle {
  width: 2.25em;
  height: 1em;
  border-radius: 1em;
  background: #d7d7d7;
  box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.15), 0 0.0625em 0 rgba(255, 255, 255, 0.65);
  position: relative;
  -webkit-transition: all .12s;
          transition: all .12s;
  cursor: pointer;
}
/* "On" toggle button */
toggle-sm .toggle.on {
  background: #324b6f;
}
/* Toggle button handle */
toggle-sm .handle {
  width: .875em;
  /* height is snapped to top and bottom */
  border-radius: 1em;
  box-shadow: inset 0 0.0625em 0.0625em #fff, 0 0.0625em 0 rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(to bottom, #f9f9f9, #e9e9e9);
  position: absolute;
  top: .0625em;
  bottom: .0625em;
  left: .0625em;
  -webkit-transition: all .12s;
          transition: all .12s;
}
/* Toggle button handle when "on" */
toggle-sm .on .handle {
  left: 1.3125em;
}