/* Styles */
/* Container */
toggle {
  display: inline-block;
  vertical-align: baseline;
}
/* Toggle button */
toggle .toggle {
  width: 4.3125em;
  height: 1.8125em;
  border-radius: .125em;
  background: #d7d7d7;
  box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.15), 0 0.0625em 0 rgba(255, 255, 255, 0.65);
  position: relative;
  -webkit-transition: all .12s;
          transition: all .12s;
  cursor: pointer;
}
/* "On" toggle button */
toggle .toggle.on {
  background: #324b6f;
}
/* Toggle button handle */
toggle .handle {
  width: 2.125em;
  /* height is snapped to top and bottom */
  border-radius: .125em;
  box-shadow: inset 0 0.0625em 0.0625em 0.0625em #fff, 0 0.0625em 0.0625em rgba(0, 0, 0, 0.15);
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e9e9e9));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #e9e9e9);
  background-image: linear-gradient(to bottom, #f9f9f9, #e9e9e9);
  position: absolute;
  top: .0625em;
  bottom: .0625em;
  left: .0625em;
  -webkit-transition: all .12s;
          transition: all .12s;
  z-index: 3;
}
toggle .handle:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '|';
  font-family: 'icomoon';
  text-align: center;
  line-height: 1.3125;
  line-height: 1.9;
  /* for icomoon font */
  color: #bebebe;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.65);
}
/* Toggle button handle when "on" */
toggle .on .handle {
  left: 2.13em;
}
/* Back text */
toggle .bk-on,
toggle .bk-off {
  font-size: .6875em;
  display: block;
  width: 3.273em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: 2.8;
  text-align: center;
  font-family: 'HelveticaNeue', Arial, sans-serif;
  font-weight: bold;
  z-index: 2;
}
toggle .bk-on {
  color: #fff;
}
toggle .bk-off {
  left: 3.1em;
  color: #666;
  text-shadow: 0 0.0625em 0 rgba(255, 255, 255, 0.43);
}