.lu-tooltip {
  position: relative;
  /* for arrow positioning */
  background: #ffffcb;
  border: 1px solid #c0c09a;
  color: #666666;
  border-radius: 1px;
  font-family: 'HelveticaNeue', 'Helvetica', sans-serif;
  font-size: 1em;
  line-height: 1.3;
  padding: 0.3em 0.5em;
  z-index: 5;
}