<!doctype html>
<html ng-app="demo">
    <head>
        <title>luGallery Demo</title>
        <link rel="stylesheet" href="../styles/lu-gallery.css"/>
        <link rel="stylesheet" href="demo.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.js"></script>
        <script src="../scripts/lu-gallery.js"></script>
        <script src="demo.js"></script>
    </head>
    
    <body ng-controller="myController">
        <p>lu-gallery activated only from a button:</p>
        <lu-gallery images="collection">
            <button ng-click="openGallery()">Open gallery to first image</button>
        </lu-gallery>

        <br/><br/>
        
        <p>lu-gallery with a list of thumbnails:</p>
        <lu-gallery images="collection2" thumbs-num="5">
            <div class="images-list" ng-repeat="image in images">
                <img ng-src="{{ image.thumb }}"
                     ng-click="openGallery($index)"
                     alt="Image {{ $index + 1 }}"/>
            </div>
        </lu-gallery>
    </body>
</html>
