<section ng-controller="MenuController">
	<ul class="menu">
		<li ng-repeat="menuItem in menuItems">
			<a href="#{{ menuItem.path }}" ng-class="{ selected: isCurrentPage(menuItem) }" data-icon="{{ menuItem.icon }}">
				{{ menuItem.text }}
			</a>
		</li>
	</ul>
	<a class="logout" href="logout.htm" data-icon="T"><span>Sign Out</span></a>
</section>
