[loading]::before,
[loading]::after {
  content: "";
  display: block;
  position: absolute;
  visibility: hidden;
}
[loading]::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  z-index: 5000;
  -webkit-transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}
[loading]::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 4px;
  background: #000;
  opacity: 0;
  z-index: 5001;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  -webkit-transition: all 0.15s ease, visibility 0s linear 0.15s;
  transition: all 0.15s ease, visibility 0s linear 0.15s;
  content: "O";
  font: 30px "faculty-hierarchy-icons";
  color: transparent;
  line-height: 60px;
  text-align: center;
}
[loading].done::after {
  color: #fff;
}
[loading].loading::before {
  visibility: visible;
  opacity: 0.3;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
[loading].loading::after {
  visibility: visible;
  opacity: 0.5;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
[loading] > .spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  opacity: 1;
}
.spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}