<!doctype html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="bootstrap.min.css">
    <style>
        body {
            font-size: 16px;
        }
    </style>
    	
	<script src="angular.min.js"></script>
	
    <script src="demoApp.js"></script>

	<script src="../scripts/tooltip.js"></script>
	<link rel="stylesheet" href="../styles/tooltip.css">

	<script src="../scripts/toggle-sm.js"></script>
	<link rel="stylesheet" href="../styles/toggle-sm.css">

    <script src="../scripts/toggle.js"></script>
    <link rel="stylesheet" href="../fonts/icomoon/style.css">
    <link rel="stylesheet" href="../styles/toggle.css">
    
    <script src="../../bool-model/scripts/bool-model.js"></script>
    
	
</head>
<body >
	<div class="container" ng-controller="demoCtrl">
		
		<h1>Liberty UI</h1>
		<p>Angular directives for widgets from the Creative Media style guide.</p>
		
		<h3>Tooltip</h3>
		<button tooltip="#tip1">Hover me</button>
		<div id="tip1" class="lu-tooltip" style="display:none">This is the best tooltip you've ever seen.</div>
        
        <h3>Toggle (small)</h3>
        <toggle-sm ng-model="x"></toggle-sm>
		
		<h3>Toggle (large)</h3>
		<toggle ng-model="x"></toggle>
        
        <h1>Toggle for non true/false values use bool-model</h1>
        <h3>Toggle (pet) true (on) == cat, false (off) == dog</h3>
        <toggle-sm bool-model bool-model-true="cat" bool-model-false="dog" ng-model="pet"></toggle-sm> <br/>
		<toggle bool-model bool-model-true="cat" bool-model-false="dog" ng-model="pet"></toggle>
        <h3>The pet is: {{pet}}</h3>
        
	</div>

</body>
</html>

