.lu-gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.85;
  z-index: 9999;
}
.lu-gallery-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  text-align: center;
}
.lu-gallery-content a {
  font-size: 36px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.lu-gallery-content a:hover {
  text-decoration: none;
}
.lu-gallery-content a.close-popup {
  float: right;
  margin: 0 30px 0 0;
  position: absolute;
  top: 20px;
  right: 0;
}
.lu-gallery-content a.nav-left {
  position: fixed;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.lu-gallery-content a.nav-right {
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.lu-gallery-content > img {
  height: auto;
  max-height: calc(100% - 150px);
  max-width: calc(100% - 100px);
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}
.lu-gallery-content > img.effect {
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.lu-gallery-content span.info-text {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 20px;
  font-weight: bold;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 100px;
}
.lu-gallery-content .thumbnails-wrapper {
  width: 400px;
  height: 70px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
}
.lu-gallery-content .thumbnails-wrapper .thumbnails {
  width: 4000px;
  height: 70px;
}
.lu-gallery-content .thumbnails-wrapper .thumbnails > div > img {
  width: auto;
  height: 70px;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.6;
}
.lu-gallery-content .thumbnails-wrapper .thumbnails > div > img:hover,
.lu-gallery-content .thumbnails-wrapper .thumbnails > div > img.active {
  -webkit-transition: opacity 0.25s ease;
          transition: opacity 0.25s ease;
  opacity: 1;
}
/* Loading - from http://loading.io */
uiload {
  display: inline-block;
  position: relative;
}
uiload > div {
  position: relative;
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  top: 0;
  margin: 180px auto 0 auto;
  width: 100px;
  height: 100px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  top: 20px;
  left: 20px;
  border-radius: 40px;
  box-shadow: 0 6px 0 0 #fff;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}