[masked]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  background: #000;
  -webkit-transition: visibility 0s linear 0.15s, opacity 0.15s ease-out;
  transition: visibility 0s linear 0.15s, opacity 0.15s ease-out;
  z-index: 100000;
}
[masked].masked::after {
  opacity: .3;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}